body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


header {
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color: #d3f4ff;
  align-items: center;
  padding-left: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.dark {
  background-color: rgb(26, 26, 26);
  color: white;
}

.header-img {
  height: 50px;
  margin-left: auto;
  padding: 30px;
}

.header-logo {
  height: 50px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
}

.category-list-child {
  margin: 30px;
}


/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  padding: 16px;
  font-size: 16px;
  border: none;
  white-space: nowrap;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.dropdown-content.dark {
  background-color: rgb(40, 40, 40);
  color: white;
}

.dropdown-content.dark a {
  color: white;
}


/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  color: black;
  display: block;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #b8e9ff;
}

.dropdown:hover .dropbtn.dark {
  background-color: #6c6c6c;
}


.scroll-container.dark{
  background-color: rgb(65, 65, 65);
}



.scroll-container {
  font-size: 22px;
  border: 1px solid #007fff;
  background-color: #b6dbff;
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
  animation: scroll linear infinite;
  padding: 10px;
  margin-left: 20px;
}

.scroll-text {
  /* animation properties */
  display: flex;
  flex-direction: row;
  font-family: Georgia;
  font-weight: 10;
  text-transform: uppercase;
  font-weight: 400px;


  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 65s linear infinite;
  -webkit-animation: my-animation 65s linear infinite;
  animation: my-animation 65s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }

  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(10%);
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }

  to {
    -moz-transform: translateX(-1000%);
    -webkit-transform: translateX(-1000%);
    transform: translateX(-1000%);
  }
}